button.share {
	display: none;
}

#loading {
	height: 100px;
	width: 100%;
	padding-top: 45px;
	z-index: 10;
	background-color: rgba(255,255,255,0.3);
}

#gallery .row  {
	line-height: 0;
}

#gallery .row a {
	display: inline-block;
	height: auto;
	padding: 1px;
}

#gallery > a.album {
	width: 200px;
	position: relative;
}

#gallery > a.album > .stack {
	height: 98%;
	position: absolute;
	width: 100%;
	z-index: -1;
}

#gallery > a.album > .stack0 {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	-webkit-transform: rotate(0.5deg);
	-moz-transform: rotate(0.5deg);
	transform: rotate(0.5deg);
	z-index: 10;
}

#gallery > a.album > .stack1 {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	left: -5px;
	top: 4px;
	-webkit-transform: rotate(-2.5deg);
	-moz-transform: rotate(-2.5deg);
	transform: rotate(-2.5deg);
}

#gallery > a.album > .stack2 {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	right: -3px;
	top: -2px;
	-webkit-transform: rotate(2.1deg);
	-moz-transform: rotate(2.1deg);
	transform: rotate(2.1deg);
}

#gallery > a.album > .stack3 {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	right: 3px;
	top: 1px;
	-webkit-transform: rotate(-1.5deg);
	-moz-transform: rotate(-1.5deg);
	transform: rotate(-1.5deg);
}

#gallery a.album label, #gallery a.image label {
	color: rgb(255, 255, 255);
	text-shadow: 0 0 7px rgb(0, 0, 0);
	position: relative;
	bottom: 15px;
	left: 10px;
	text-align: center;
	font-size: 18px;
	text-overflow: ellipsis;
}

#gallery > a {
	display: inline-block;
	position: relative;
	vertical-align: top;
	*display: inline;
	zoom: 1;
}

#controls > .right {
	float: right;
}

#gallery>h2 {
	background: #f7f7f7;
	height: 2.8em;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
	font-weight: bold;
	padding: 0.5em;
	padding-left: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#dropdown {
	top: 6.4em;
	position: fixed;
	right: 0;
	margin-right: 0;
	border-bottom-right-radius: 0;
}
